$main-color: #6392ff;
$secondary-color: #3b65c5;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$orange-color: #ee9531;
$orange-second-color: rgb(225, 156, 77);
$orange-color-hover: #e97c00;

$light-blue-gradient: linear-gradient(45deg, rgba(140, 170, 253, 0.45), rgba(255, 151, 48, 0.45));
$blue-gradient: linear-gradient(45deg, rgba(107, 196, 234, 0.5), rgba(254, 174, 45, 0.5));
$orange-gradient: linear-gradient(45deg, rgba(214, 112, 10, 0.75), rgba(68, 0, 255, 0.75));
$blue-gradient-solid: linear-gradient(45deg, rgb(0, 99, 180), rgb(225, 156, 77));
$light-blue-gradient-solid: radial-gradient(circle at top right, rgb(131, 168, 253) 0%, rgb(255, 165, 63) 100%);

$orange-gradient-solid: linear-gradient(110deg, rgb(225, 156, 77),rgb(225, 156, 77),rgb(0, 99, 180),  );